<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 title">
                <p>Profiler-1-Nov-20</p>
            </div> 
            <div class="col-md-12 content">
                <table style="width:100%">
                    <tr>
                        <td colspan="2">Total Profiler-</td>
                        <td>SMS Time</td>
                        <td>Crone 1</td>
                        <td>Crone 2</td>
                        <td>Crone 3</td>
                    </tr>
                    <tr>
                        <td >1000/<span class="blue">180</span></td>
                        <td style="width: 153px;"></td>
                        <td class="date">1 Nov, 2020,8:00 AM</td>
                        <td class="date">1 Nov, 2020,8:00 AM</td>
                        <td class="date">1 Nov, 2020,8:00 AM</td>
                        <td class="date">1 Nov, 2020,8:00 AM</td>
                    </tr>
                </table>
                <table style="width:100%">
                    <tr>
                        <td>Goal_1</td>
                        <td>Goal_2</td>
                        <td>Goal_3</td>
                        <td>Goal_4A</td>
                        <td>Goal_4B</td>
                        <td>Goal_4C</td>
                        <td>Goal_4D</td>
                        <td>Goal_5</td>
                        <td>Goal_6</td>
                    </tr>
                    <tr class="blue_value">
                        <td>300</td>
                        <td>50</td>
                        <td>290</td>
                        <td>220</td>
                        <td>180</td>
                        <td>150</td>
                        <td>120</td>
                        <td>180</td>
                        <td>180</td>
                    </tr>
                </table>
            </div> 
            <div class="col-md-12 content content2">
                <table style="width:100%">
                    <tr>
                        <td colspan="2">Total Profiler-</td>
                        <td>SMS Time</td>
                        <td>Crone 1</td>
                        <td>Crone 2</td>
                        <td>Crone 3</td>
                    </tr>
                    <tr>
                        <td >1000/<span class="blue">180</span></td>
                        <td style="width: 153px;"></td>
                        <td class="date">1 Nov, 2020,8:00 AM</td>
                        <td class="date">1 Nov, 2020,8:00 AM</td>
                        <td class="date">1 Nov, 2020,8:00 AM</td>
                        <td class="date">1 Nov, 2020,8:00 AM</td>
                    </tr>
                </table>
                <table style="width:100%">
                    <tr>
                        <td>Goal_1</td>
                        <td>Goal_2</td>
                        <td>Goal_3</td>
                        <td>Goal_4A</td>
                        <td>Goal_4B</td>
                        <td>Goal_4C</td>
                        <td>Goal_4D</td>
                        <td>Goal_5</td>
                        <td>Goal_6</td>
                    </tr>
                    <tr class="blue_value">
                        <td>300</td>
                        <td>50</td>
                        <td>290</td>
                        <td>220</td>
                        <td>180</td>
                        <td>150</td>
                        <td>120</td>
                        <td>180</td>
                        <td>180</td>
                    </tr>
                </table>
            </div> 
            <div class="col-md-12 content content3">
                <table style="width:100%">
                    <tr>
                        <td colspan="2">Total Profiler-</td>
                        <td>SMS Time</td>
                        <td>Crone 1</td>
                        <td>Crone 2</td>
                        <td>Crone 3</td>
                    </tr>
                    <tr>
                        <td >1000/<span class="blue">180</span></td>
                        <td style="width: 153px;"></td>
                        <td class="date">1 Nov, 2020,8:00 AM</td>
                        <td class="date">1 Nov, 2020,8:00 AM</td>
                        <td class="date">1 Nov, 2020,8:00 AM</td>
                        <td class="date">1 Nov, 2020,8:00 AM</td>
                    </tr>
                </table>
                <table style="width:100%">
                    <tr>
                        <td>Goal_1</td>
                        <td>Goal_2</td>
                        <td>Goal_3</td>
                        <td>Goal_4A</td>
                        <td>Goal_4B</td>
                        <td>Goal_4C</td>
                        <td>Goal_4D</td>
                        <td>Goal_5</td>
                        <td>Goal_6</td>
                    </tr>
                    <tr class="blue_value">
                        <td>300</td>
                        <td>50</td>
                        <td>290</td>
                        <td>220</td>
                        <td>180</td>
                        <td>150</td>
                        <td>120</td>
                        <td>180</td>
                        <td>180</td>
                    </tr>
                </table>
            </div> 
            <div class="col-md-12 title">
                <p>Profiler-2-Nov-20</p>
            </div> 
            <div class="col-md-12 content">
                <table style="width:100%">
                    <tr>
                        <td colspan="2">Total Profiler-</td>
                        <td>SMS Time</td>
                        <td>Crone 1</td>
                        <td>Crone 2</td>
                        <td>Crone 3</td>
                    </tr>
                    <tr>
                        <td >1000/<span class="blue">180</span></td>
                        <td style="width: 153px;"></td>
                        <td class="date">1 Nov, 2020,8:00 AM</td>
                        <td class="date">1 Nov, 2020,8:00 AM</td>
                        <td class="date">1 Nov, 2020,8:00 AM</td>
                        <td class="date">1 Nov, 2020,8:00 AM</td>
                    </tr>
                </table>
                <table style="width:100%">
                    <tr>
                        <td>Goal_1</td>
                        <td>Goal_2</td>
                        <td>Goal_3</td>
                        <td>Goal_4A</td>
                        <td>Goal_4B</td>
                        <td>Goal_4C</td>
                        <td>Goal_4D</td>
                        <td>Goal_5</td>
                        <td>Goal_6</td>
                    </tr>
                    <tr class="blue_value">
                        <td>300</td>
                        <td>50</td>
                        <td>290</td>
                        <td>220</td>
                        <td>180</td>
                        <td>150</td>
                        <td>120</td>
                        <td>180</td>
                        <td>180</td>
                    </tr>
                </table>
            </div> 
            <div class="col-md-12 content content2">
                <table style="width:100%">
                    <tr>
                        <td colspan="2">Total Profiler-</td>
                        <td>SMS Time</td>
                        <td>Crone 1</td>
                        <td>Crone 2</td>
                        <td>Crone 3</td>
                    </tr>
                    <tr>
                        <td >1000/<span class="blue">180</span></td>
                        <td style="width: 153px;"></td>
                        <td class="date">1 Nov, 2020,8:00 AM</td>
                        <td class="date">1 Nov, 2020,8:00 AM</td>
                        <td class="date">1 Nov, 2020,8:00 AM</td>
                        <td class="date">1 Nov, 2020,8:00 AM</td>
                    </tr>
                </table>
                <table style="width:100%">
                    <tr>
                        <td>Goal_1</td>
                        <td>Goal_2</td>
                        <td>Goal_3</td>
                        <td>Goal_4A</td>
                        <td>Goal_4B</td>
                        <td>Goal_4C</td>
                        <td>Goal_4D</td>
                        <td>Goal_5</td>
                        <td>Goal_6</td>
                    </tr>
                    <tr class="blue_value">
                        <td>300</td>
                        <td>50</td>
                        <td>290</td>
                        <td>220</td>
                        <td>180</td>
                        <td>150</td>
                        <td>120</td>
                        <td>180</td>
                        <td>180</td>
                    </tr>
                </table></div>
        </div>
    </div>
</div>
